@import url('https://fonts.googleapis.com/css2? family= Homard & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', cursive;
    height: 200vh;
}

header {
    display: flex;
    justify-content: space-between;
}